body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
        font-size: 0.9rem;
        line-height: 1.7;
        text-align: center;
        color: #333;
        margin: 0;
    }

p{
    text-align: justify;
    text-justify: inter-word;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: auto;
        size: auto;
    }
  
  #tribute-link {
    color: #CC0000;
    font-weight: bold;
  }
  
  #image {
    max-width: 500px;
    display: block;
  }
  
  #img-caption {
    font-size: 30px;
  }

  
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

  #title {
    text-align: center;
  }
